<div class="event">
    <div class="">
      <img class="popup-card" src="{{ message.author.avatar(36) }}" data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}">
    </div>

    <div class="content">
        <div class="summary">
            <span>{{ message.author.username }}</span>
            <div class="date">
                {{ moment(message.timestamp).format('lll') }}
            </div>
        </div>

        <div class="extra text">
            {{ message.body|safe }}
        </div>
    </div>
</div>
