<div class="event">
    <div class="">
      <img class="popup-card" src="{{ message.author.avatar(36) }}" data-href="{{ url_for('chat.get_profile', user_id=message.author.id) }}">
    </div>

    <div class="content">
        <div class="summary">
            <span>{{ message.author.username }}</span>
            <div class="date">
                {{ moment(message.timestamp).format('lll') }}
            </div>
        </div>

        <div class="extra text">
            {{ message.body|safe }}
        </div>
    </div>

    {% if current_user == message.author or current_user.is_admin %}
        <div class="ui icon left center pointing dropdown ellipsis-icon">
            <i class="ellipsis horizontal icon"></i>
            <div class="menu">
                <div class="item delete-butn" data-href="{{ url_for('chat.delete_message', message_id=message.id) }}">
                    <i class="delete icon"></i>
                    Delete
                </div>
            </div>
        </div>
    {% endif %}
</div>
