<div class="ui items profile-card">
    <div class="item">
        <div class="ui tiny image">
            <img src="{{ user.avatar(36) }}">
        </div>

        <div class="content">
            <div class="header">
                {{ user.username }}
            </div>

            <div class="description">
                {{ user.bio or 'This user want to maintain an aura of mystique.' }}
            </div>
        </div>
    </div>

    {% if user.github %}
        <i class="github icon"></i>
        <a href="{{ user.github }}" target="_blank">GitHub</a>
    {% endif %}

    {% if user.website %}
        <i class="linkify icon"></i>
        <a href="{{ user.website }}" target="_blank">Website</a>
    {% endif %}

    {% if current_user.is_admin and not user.is_admin %}
        <i class="delete icon"></i>
        <a class="delete-user-butn" href="#" data-href="{{ url_for('admin.block_user', user_id=user.id) }}"
            onclick="delete_user_event(this)">
            Delete
        </a>
    {% endif %}
</div>
