{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui top attached message">
                <h3 class="ui teal image header">
                    <img src="{{ url_for('static', filename='logo.png') }}" class="image">
                    <div class="content">
                        Tell us about you!
                    </div>
                </h3>
            </div>

            <form class="profile ui form attached left aligned fluid segment" action="{{ url_for('chat.profile') }}" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

                <div class="field">
                    <label for="github">GitHub</label>
                    <input id="github" name="github" type="text" placeholder="https://github.com/wtraceback"
                        value="{{ current_user.github or '' }}">
                </div>

                <div class="field">
                    <label for="website">Website</label>
                    <input id="website" name="website" type="text" placeholder="http://whxcer2.pythonanywhere.com/"
                        value="{{ current_user.website or '' }}">
                </div>

                <div class="field">
                    <label for="bio">Bio</label>
                    <input id="bio" name="bio" type="text" placeholder="I'm a ..."
                        value="{{ current_user.bio or '' }}">
                </div>

                <div class="ui fluid large teal submit button">Save</div>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="ui warning message">
                            <i class="close icon"></i>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
