<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            Chatroom:
            <a href="{{ url_for('chat.index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>
