{% block doc %}
    <!DOCTYPE html>
    <html {% block html_attribs %}{% endblock html_attribs %}>
        {% block html %}
            <head>
                {% block head %}
                    <meta charset="utf-8">
                    <title>
                        {% block title %}
                        {% endblock %}
                    </title>

                    {%- block metas %}
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    {%- endblock metas %}

                    {% block styles %}
                        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
                        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
                        <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
                    {% endblock styles %}
                {% endblock head %}
            </head>
            <body {% block body_attribs %}{% endblock body_attribs %}>
                {% block body %}
                    <div class="ui inverted labeled icon right inline vertical sidebar menu">
                        <a class="item" href="{{ url_for('chat.index') }}">
                            <i class="home icon"></i>
                            Index
                        </a>

                        <a class="item" target="_blank" href="https://github.com/wtraceback/Chatroom.git">
                            <i class="github icon"></i>
                            GitHub
                        </a>

                        {% if current_user.is_authenticated %}
                            <a class="item" href="{{ url_for('chat.profile') }}">
                                <i class="setting icon"></i>
                                Profile
                            </a>

                            <a class="item" href="{{ url_for('auth.logout') }}">
                                <i class="sign-out icon"></i>
                                Sign Out
                            </a>
                        {% endif %}

                        <div class="item">
                            © 2021 <a target="_blank" href="https://github.com/wtraceback/Chatroom.git">whxcer</a>
                        </div>
                    </div>

                    {% block navbar %}
                        <div class="ui top borderless fixed menu">
                            <a href="{{ url_for('chat.index') }}" class="header item">
                                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo image">
                                <span>Chatroom</span>
                            </a>

                            <div class="item">
                                <div class="ui basic black label" title="Online users">
                                    <i class="user icon"></i>
                                    <span id="online-user">0</span> / {{ user_amount }}
                                </div>
                            </div>

                            <div class="right menu hide-on-mobile">
                                {% if current_user.is_anonymous %}
                                    <div class="item">
                                            <a class="ui primary button" href="{{ url_for('auth.login') }}">Sign In</a>
                                    </div>
                                {% endif %}

                                <div id="toggle-sidebar" class="item">
                                    <i class="sidebar icon"></i>
                                </div>
                            </div>
                        </div>
                    {% endblock navbar %}

                    {% block content %}
                    {% endblock content %}

                    <div id="mobile-message-textarea-modal" class="ui modal small">
                        <div class="content">
                            <form class="ui form">
                                <textarea id="mobile-message-textarea" name="body" rows="16" placeholder="Write your message here..."></textarea>
                            </form>
                        </div>
                        <div class="actions">
                            <button class="ui button cancel">Cancel</button>
                            <button id="send-butn" class="ui button teal approve">Send</button>
                        </div>
                    </div>

                    {% block scripts %}
                        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                        <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
                        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
                        <!--{{ moment.lang('zh-cn') }}-->
                        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
                        <script src="{{ url_for('static', filename='js/form.js') }}"></script>
                        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
                        <script type="text/javascript">
                            var csrf_token = "{{ csrf_token() }}"
                        </script>
                    {% endblock scripts %}
                {% endblock body %}
            </body>
        {% endblock html %}
    </html>
{% endblock doc %}
